{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [2, "always"],
    "quotes": [0, "single"],
    "strict": 0,
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-console": 0
  },
  "globals": {
    "jQuery": true,
    "$": true
  }
}
